In [1]:
import pandas as pd
import numpy as np
import sys
from pytrends.request import TrendReq
import time
import warnings
warnings.filterwarnings("ignore")
sys.path.append('../methods')
from SVI_methods import index_with_dates

In [2]:
companies = pd.read_csv("../data/companies_after_2005.csv")
symbols = np.array(companies['Symbol'])

In [4]:
# for s in symbols: 
#      x = index_with_dates([s], "2005-01-01", "2023-12-01")
#      print(x)

index_with_dates([symbols[0]], "2005-01-01", "2023-12-01")

The request failed: Google returned a response with code 429
error has occured for ['MSFT'], 2005-01-01 to 2023-12-01

In [12]:
monthly_svi = pd.DataFrame(columns = ['symbol','date', 'svi'])

bad_symbols = []
for s in symbols: 
     x = index_with_dates([s], "2005-01-01", "2023-12-01")
     if isinstance(x, pd.DataFrame):
          new_df = pd.DataFrame(columns = ['symbol','date', 'svi'])
          new_df['date'] = x.index
          new_df['svi'] = x.iloc[:,0].values
          new_df['symbol'] = s
          monthly_svi = pd.concat([monthly_svi,new_df], axis = 0)
          monthly_svi.reset_index(inplace=True, drop=True)
          time.sleep(10)
     else:
          print(s, "has an error")
          bad_symbols.append(s)

error has occured for ['AAPL'], 2005-01-01 to 2023-12-01
AAPL has an error
error has occured for ['NVDA'], 2005-01-01 to 2023-12-01
NVDA has an error
error has occured for ['AMZN'], 2005-01-01 to 2023-12-01
AMZN has an error
error has occured for ['GOOG'], 2005-01-01 to 2023-12-01
GOOG has an error
error has occured for ['BRK-B'], 2005-01-01 to 2023-12-01
BRK-B has an error
error has occured for ['LLY'], 2005-01-01 to 2023-12-01
LLY has an error
error has occured for ['TSM'], 2005-01-01 to 2023-12-01
TSM has an error
error has occured for ['NVO'], 2005-01-01 to 2023-12-01
NVO has an error
error has occured for ['JPM'], 2005-01-01 to 2023-12-01
JPM has an error
error has occured for ['UNH'], 2005-01-01 to 2023-12-01
UNH has an error
error has occured for ['WMT'], 2005-01-01 to 2023-12-01
WMT has an error
error has occured for ['XOM'], 2005-01-01 to 2023-12-01
XOM has an error
error has occured for ['JNJ'], 2005-01-01 to 2023-12-01
JNJ has an error
error has occured for ['PG'], 2005-01-01 to 2023-12-01
PG has an error
error has occured for ['ASML'], 2005-01-01 to 2023-12-01
ASML has an error
error has occured for ['HD'], 2005-01-01 to 2023-12-01
HD has an error
error has occured for ['MRK'], 2005-01-01 to 2023-12-01
MRK has an error
error has occured for ['COST'], 2005-01-01 to 2023-12-01
COST has an error
error has occured for ['TM'], 2005-01-01 to 2023-12-01
TM has an error
error has occured for ['ORCL'], 2005-01-01 to 2023-12-01
ORCL has an error
error has occured for ['CVX'], 2005-01-01 to 2023-12-01
CVX has an error
error has occured for ['AMD'], 2005-01-01 to 2023-12-01
AMD has an error
error has occured for ['CRM'], 2005-01-01 to 2023-12-01
CRM has an error
error has occured for ['BAC'], 2005-01-01 to 2023-12-01
BAC has an error
error has occured for ['KO'], 2005-01-01 to 2023-12-01
KO has an error
error has occured for ['NFLX'], 2005-01-01 to 2023-12-01
NFLX has an error
error has occured for ['ADBE'], 2005-01-01 to 2023-12-01
ADBE has an error
error has occured for ['ACN'], 2005-01-01 to 2023-12-01
ACN has an error
error has occured for ['PEP'], 2005-01-01 to 2023-12-01
PEP has an error
error has occured for ['TMO'], 2005-01-01 to 2023-12-01
TMO has an error
error has occured for ['MCD'], 2005-01-01 to 2023-12-01
MCD has an error
error has occured for ['SAP'], 2005-01-01 to 2023-12-01
SAP has an error
error has occured for ['DIS'], 2005-01-01 to 2023-12-01
DIS has an error
error has occured for ['601857.SS'], 2005-01-01 to 2023-12-01
601857.SS has an error
error has occured for ['AZN'], 2005-01-01 to 2023-12-01
AZN has an error
error has occured for ['ABT'], 2005-01-01 to 2023-12-01
ABT has an error
error has occured for ['CSCO'], 2005-01-01 to 2023-12-01
CSCO has an error
error has occured for ['TMUS'], 2005-01-01 to 2023-12-01
TMUS has an error
error has occured for ['WFC'], 2005-01-01 to 2023-12-01
WFC has an error
error has occured for ['DHR'], 2005-01-01 to 2023-12-01
DHR has an error
error has occured for ['INTC'], 2005-01-01 to 2023-12-01
INTC has an error
error has occured for ['INTU'], 2005-01-01 to 2023-12-01
INTU has an error
error has occured for ['IBM'], 2005-01-01 to 2023-12-01
IBM has an error
error has occured for ['QCOM'], 2005-01-01 to 2023-12-01
QCOM has an error
error has occured for ['VZ'], 2005-01-01 to 2023-12-01
VZ has an error
error has occured for ['AMAT'], 2005-01-01 to 2023-12-01
AMAT has an error
error has occured for ['CMCSA'], 2005-01-01 to 2023-12-01
CMCSA has an error

In [9]:
bad_symbols

['MSFT', 'AAPL', 'NVDA', 'AMZN', 'GOOG', 'BRK-B', 'LLY', 'TSM']

In [29]:
monthly_svi['symbol'].unique()

array(['MSFT', 'AAPL', 'NVDA', 'AMZN', 'GOOG', 'BRK-B', 'LLY', 'TSM',
       'NVO', 'JPM', 'UNH', 'WMT', 'XOM', 'JNJ', 'IDEXY', 'BDX', 'ADSK'],
      dtype=object)

In [30]:
symbols

array(['MSFT', 'AAPL', 'NVDA', 'AMZN', 'GOOG', 'BRK-B', 'LLY', 'TSM',
       'NVO', 'JPM', 'UNH', 'WMT', 'XOM', 'JNJ', 'PG', 'ASML', 'HD',
       'TCEHY', 'MRK', 'COST', 'TM', 'ORCL', 'CVX', 'AMD', 'CRM', 'BAC',
       'KO', 'NFLX', 'ADBE', 'ACN', 'PEP', 'TMO', 'MCD', 'SAP', 'DIS',
       '601857.SS', 'AZN', 'ABT', 'CSCO', 'TMUS', 'WFC', 'DHR', 'INTC',
       'INTU', 'IBM', 'QCOM', 'VZ', 'AMAT', 'CMCSA', 'CAT', 'NKE', 'PFE',
       'AXP', 'AMGN', 'UNP', 'TXN', 'SIE.DE', 'MS', 'RY', 'HDB', 'ISRG',
       'SPGI', 'SYK', 'IDEXY', 'LOW', 'COP', 'HON', 'BKNG', 'UL', 'UPS',
       'PLD', 'AIR.PA', 'GS', 'BA', 'BUD', 'LRCX', 'T', 'RTX', 'DTE.DE',
       'BLK', 'SCHW', 'NEE', 'SNY', 'PBR', 'MDT', 'RIO', 'TJX', '6861.T',
       'PGR', 'SONY', '8035.T', 'VRTX', 'TD', 'SBUX', 'C', 'ALV.DE',
       'REGN', 'ADP', 'LMT', 'DE', 'BMY', 'BP', 'CI', 'MMC', '601628.SS',
       'CVS', 'MDLZ', 'AI.PA', 'BSX', '601318.SS', 'ADI', 'EL.PA',
       'CSL.AX', 'KLAC', 'GILD', 'FI', 'MU', 'AMT', 'IBN', '9983.T',
       'GSK', 'INFY', 'SNPS', '8058.T', 'ABBN.SW', 'CNI', '0883.HK',
       'HCA', '4063.T', 'DEO', '9984.T', 'SBIN.NS', 'WM', 'RELX', 'EQIX',
       'CP', 'BHARTIARTL.NS', 'P911.DE', 'SHW', 'CDNS', 'CME',
       'ATCO-B.ST', '000660.KS', 'ITW', '6501.T', 'CS.PA', 'BMW.DE', 'GD',
       'INVE-B.ST', 'ZURN.SW', 'ENB', 'MRK.DE', 'IBE.MC', 'SO', 'CSX',
       '002594.SZ', 'DG.PA', 'MO', 'NTES', 'SMFG', 'WMMVF', 'MAR',
       'VOW3.DE', 'BDX', 'SLB', '7974.T', 'TGT', 'CL', 'BMO', 'ITUB',
       'MCO', 'NOC', 'NAB.AX', 'BNP.PA', 'MCK', 'PH', 'EOG', 'D05.SI',
       'ENEL.MI', '4519.T', 'SCCO', 'USB', '6098.T', '9433.T', 'PYPL',
       'APH', 'SAN', 'DSY.PA', '4568.T', 'CTAS', 'ORLY', 'AON', 'TT',
       'ECL', 'LSEG.L', 'EMR', 'DELL', 'FDX', 'PNC', 'EPD', '8766.T',
       'VALE', 'ROP', '4661.T', 'BNS', 'MRVL', 'FMG.AX', 'AMX', 'RSG',
       'BBVA', 'HMC', 'SPG', 'WBC.AX', 'FCX', 'ANZ.AX', 'ADSK',
       'HCLTECH.NS', 'PXD', 'UCG.MI', 'WELL', 'EL', '6902.T', 'COF', 'EW',
       'MMM', 'E', 'TRV', 'MET', 'PSA', 'F', 'ROST', 'MQG.AX', 'NGG',
       'TFC', 'AIG', 'VLO', 'BA.L', 'AZO', 'CPRT', 'IFX.DE', 'CCI', 'DHI',
       'WES.AX', 'MFG', 'ODFL', 'IDXX', 'AFL', '2914.T', 'NUE', 'HES',
       'BAS.DE', 'MFC', 'STZ', 'PAYX', 'SRE', 'O39.SI', 'ADANIENT.NS',
       'HUM', '601899.SS', 'MCHP', 'ING', 'HOLN.SW', 'URI', '7741.T',
       'SUNPHARMA.NS', 'O', 'DLR', 'WCN', 'MARUTI.NS', 'BMRI.JK', 'SU',
       'CM', 'RI.PA', 'AEP', 'CHTR', 'ALL', 'BN.PA', '6367.T', 'CNC',
       'OKE', 'LEN', 'WMB', 'LVS', 'KOTAKBANK.NS', 'NDA-FI.HE',
       'TATAMOTORS.NS', 'TRP', '600030.SS', '0388.HK', 'STM', 'ABEV',
       'FERG', 'FAST', 'AME', 'ACA.PA', 'KMB', 'AXISBANK.BO', 'GMBXF',
       'SYY', 'A', 'NTPC.NS', 'CAP.PA', 'TITAN.NS', 'HSY', 'PRU', 'NEM',
       'D', '6981.T', 'CTSH', 'ALC', 'LNG', 'CQP', 'EA', 'WDS', 'YUM',
       'CMI', 'SGO.PA', 'FIS', 'QNBK.QA', 'WKL.AS', 'KFH.KW', 'DB1.DE',
       '600276.SS', '601998.SS', 'GIS', 'U11.SI', '6273.T', 'IR',
       'GMG.AX', 'MPWR', 'IT', 'ASIANPAINT.NS', 'EXC', 'G.MI', 'GPN',
       '6857.T', '000270.KS', 'BCE', 'ULTRACEMCO.NS', 'LYG', 'RR.L', 'KR',
       'WIT', 'ADS.DE', 'VMC', 'ON', 'BEI.DE', 'PPG', 'MLM', 'BBAS3.SA',
       'CSGP', 'SREN.SW', 'MLYBY', 'EOAN.DE', 'XEL', 'L.TO', 'ACGL',
       'IMO', 'ROK', '6146.T', 'NDAQ', 'FICO', 'BIIB', 'EFX', 'RYAAY',
       'GFNORTEO.MX', '6503.T', 'SLF', 'HAL', 'DLTR', 'DG', 'IOC.NS',
       'EXR', 'ORAN', 'POWERGRID.NS', 'PWR', '6201.T', 'SEB-A.ST',
       '2382.TW', 'ASM.AS', 'AAL.L', 'III.L', 'BAYN.DE', 'PFV.F',
       'GNE.NZ', 'DNN', 'ACE.NS', 'FBU.NZ', '0142.HK', 'TWEKA.AS', 'VEON',
       'KWS.F', 'VRTS', '7313.T', 'LKFN', 'CPRX', '0010.HK', 'TRMK',
       'BANPU.BK', 'NBTB', 'CXW', 'BAR.BR', 'POM.PA', '004990.KS', 'BB',
       'THRM', 'HBM.HM', 'STLC.TO', 'PEAB-B.ST', 'LZB', 'KPROJ.KW',
       'NSSC', 'SPNS', 'KTY.WA', 'DVAX', 'EIF.TO', 'TTMI',
       'ASAHIINDIA.NS', 'TDS', 'CBRL', 'TARO', 'NTCT', 'BEML.NS',
       'CENTEL.BK', 'CSGS', 'EXTR', 'TPE.WA', 'GMDCLTD.NS', 'MRTN', 'OXM',
       'FRU.TO', 'BANR', 'HLX', 'SZG.F', 'GNS.L', 'JACK', 'AMWD',
       'VAIAS.HE', 'PSM.F', 'GPRE', 'UFPT', 'LIF.TO', 'KTN.F',
       'ENGINERSIN.NS', '0303.HK', '5301.T', '002380.KS', '8698.T',
       'FBNC', 'FNLC', 'GTY', 'ZENSARTECH.NS', 'RDF.JO', 'FWRG', 'HWKN',
       'HTLF', '2343.HK', 'GIII', 'IMKTA', 'CFP.TO', 'ENGH.TO', 'CTS',
       'BAJAJELEC.NS', 'NWC.TO', 'CEATLTD.NS', '041510.KQ', 'SYBT',
       'BETS-B.ST', 'ATEA.OL', 'FCF', 'SPOL.OL', 'LNN', 'LTC', 'CAL',
       'KFRC', 'COR.LS', 'GES', 'NWN', 'PDFS', 'WG.L', 'GRANULES.NS',
       'INGERRAND.NS', 'ANZFF', 'AG', 'ALHE.TA', 'PM6A.F', 'GIMB.BR',
       '004170.KS', 'OMCL', '7476.T', 'ISN.SW', 'LGND', 'BUSE', 'SMTC',
       'ICAP.AE', 'MTRN.TA', 'TYRES.HE', 'DBD', 'SPH', 'IBULHSGFIN.NS',
       'NCC-B.ST', 'CMCO', 'PCT.NZ', 'CUB.NS', 'WABC', 'MDA.TO',
       '0778.HK', 'MASTEK.NS', 'RPT', 'TGI', 'AIV', 'INE.TO', 'MFG.AX',
       'MFA', 'PRAJIND.NS', 'NX', 'NEULANDLAB.NS', 'PNE3.DE', 'EKT.DE',
       'CGAU', 'PRAA', 'GERN', 'PERI', 'BHE', 'RAJESHEXPO.NS', 'MGNX'],
      dtype=object)

In [32]:
x = index_with_dates(['HD'], "2005-01-01", "2023-12-01")

In [33]:
x

            HD  isPartial
date
2005-01-01   5      False
2005-02-01   5      False
2005-03-01   5      False
2005-04-01   4      False
2005-05-01   4      False
...         ..        ...
2023-08-01  35      False
2023-09-01  35      False
2023-10-01  34      False
2023-11-01  34      False
2023-12-01  35      False

[228 rows x 2 columns]