In [1]:
import pandas as pd
from statsmodels.tsa.stattools import grangercausalitytests
import numpy as np

In [31]:
companies_with_cap = pd.read_csv('../data/companies_after_2005.csv', encoding='latin1')
df = pd.read_csv('market_svi_edgar.csv', encoding='latin1')
#function to check wether there are equal number of weeks each year and companies 
#what should be in a dataset: company symbols, week number, week return,week volume, svi, edgar, cap size
#to see: returns from svi all, retturns from svi high, returns from svi low, returns from edgar all/high/all
#the same with volume (function)
#How to choose a lag and what is moving average

In [32]:
df

        Unnamed: 0 symbol        date  svi  svi.1  edgar  price       volume
0                0   MSFT  2005-01-02   18  31338    145  26.67  398924026.0
1                1   MSFT  2005-01-09   19  33079   3220  26.12  379712121.0
2                2   MSFT  2005-01-16   12  20892   3030  25.65  266617523.0
3                3   MSFT  2005-01-23   20  34820   3539  26.18  409844550.0
4                4   MSFT  2005-01-30   15  26115   4112  26.32  347830186.0
...            ...    ...         ...  ...    ...    ...    ...          ...
377099      377099    STM  2023-05-07    0      0   1960  42.42   14032941.0
377100      377100    STM  2023-05-14    0      0   1469  45.04   16758607.0
377101      377101    STM  2023-05-21    0      0   2022  44.06   18806074.0
377102      377102    STM  2023-05-28    0      0   1855  44.91   14946141.0
377103      377103    STM  2023-06-04    0      0   2559  47.23   16091302.0

[377104 rows x 8 columns]

In [33]:
df['WeeklyReturns'] = 0.0  # Initialize the column with zeros

for company in df['symbol'].unique():
    company_mask = df['symbol'] == company
    df.loc[company_mask, 'WeeklyReturns'] = df.loc[company_mask, 'price'].pct_change() * 100

In [25]:
nan_rows = df[df.isna().any(axis=1)]
nan_rows
df.dropna(subset=['WeeklyReturns', 'svi'], inplace=True)

C:\Users\Варвара\AppData\Local\Temp\ipykernel_20936\2933091874.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['WeeklyReturns', 'svi'], inplace=True)

In [41]:
data = df[["WeeklyReturns", "svi"]]
data = data[["WeeklyReturns", "svi"]].dropna()

#All lags up to 4
gc_res = grangercausalitytests(data, 4)

Granger Causality
number of lags (no zero) 1
ssr based F test:         F=0.6598  , p=0.4166  , df_denom=306654, df_num=1
ssr based chi2 test:   chi2=0.6598  , p=0.4166  , df=1
likelihood ratio test: chi2=0.6598  , p=0.4166  , df=1
parameter F test:         F=0.6598  , p=0.4166  , df_denom=306654, df_num=1

Granger Causality
number of lags (no zero) 2
ssr based F test:         F=4.4374  , p=0.0118  , df_denom=306651, df_num=2
ssr based chi2 test:   chi2=8.8749  , p=0.0118  , df=2
likelihood ratio test: chi2=8.8748  , p=0.0118  , df=2
parameter F test:         F=4.4374  , p=0.0118  , df_denom=306651, df_num=2

Granger Causality
number of lags (no zero) 3
ssr based F test:         F=3.9853  , p=0.0075  , df_denom=306648, df_num=3
ssr based chi2 test:   chi2=11.9562 , p=0.0075  , df=3
likelihood ratio test: chi2=11.9559 , p=0.0075  , df=3
parameter F test:         F=3.9853  , p=0.0075  , df_denom=306648, df_num=3

Granger Causality
number of lags (no zero) 4
ssr based F test:         F=3.4921  , p=0.0074  , df_denom=306645, df_num=4
ssr based chi2 test:   chi2=13.9688 , p=0.0074  , df=4
likelihood ratio test: chi2=13.9685 , p=0.0074  , df=4
parameter F test:         F=3.4921  , p=0.0074  , df_denom=306645, df_num=4