In [1]:
import pandas as pd
from statsmodels.tsa.stattools import grangercausalitytests
import numpy as np

In [91]:
companies_with_cap = pd.read_csv('../data/companies_after_2005.csv', encoding='latin1')
svi = pd.read_csv('../data/agregated_svi.csv', encoding='latin1')
edgar = pd.read_csv('../data/edgar_all.csv', encoding='latin1')
weekly_market = pd.read_csv('../data/Weekly_market.csv', encoding='latin1')

#function to check wether there are equal number of weeks each year and companies 
#what should be in a dataset: company symbols, week number, week return,week volume, svi, edgar, cap size
#to see: returns from svi all, retturns from svi high, returns from svi low, returns from edgar all/high/all
#the same with volume (function)
#How to choose a lag

In [92]:
edgar.head()

,Unnamed: 0.1,Unnamed: 0,Name,Symbol,CIK,Count,20230603,20230602,20230601,20230531,...,20050110,20050109,20050108,20050107,20050106,20050105,20050104,20050103,20050102,20050101
0,0,0,Microsoft,MSFT,789019.0,3185,56921,271138,3231,5595,...,448,197,171,511,834,770,358,379,145,117
1,1,1,Apple,AAPL,320193.0,4860,66453,68420,5430,5051,...,166,87,62,79,146,196,285,93,54,15
2,2,2,NVIDIA,NVDA,1045810.0,2133,20629,25069,4397,3841,...,63,20,13,84,21,158,162,235,436,269
3,3,3,Amazon,AMZN,1018724.0,1392,21237,26889,3056,3833,...,126,58,26,92,177,141,207,69,51,29
4,4,4,Alphabet (Google),GOOG,1652044.0,1644,36914,61859,6703,5943,...,0,0,0,0,0,0,0,0,0,0

In [93]:
svi.head(5)

,Unnamed: 0.1,Unnamed: 0,symbol,date,svi,date_category,monthly_score,agregated_score
0,0,0,MSFT,2005-01-02,18,1,1741,31338
1,1,1,MSFT,2005-01-09,19,1,1741,33079
2,2,2,MSFT,2005-01-16,12,1,1741,20892
3,3,3,MSFT,2005-01-23,20,1,1741,34820
4,4,4,MSFT,2005-01-30,15,1,1741,26115

In [94]:
common_values = (
    set(weekly_market['TICKER'])
    .intersection(set(svi['symbol']))
    .intersection(set(companies_with_cap['Symbol']))
    .intersection(set(edgar['Symbol']))
)

# Filter each dataset to include only rows with common 'Symbol' values
filtered_weekly_market = weekly_market[weekly_market['TICKER'].isin(common_values)]
filtered_svi = svi[svi['symbol'].isin(common_values)]
filtered_companies = companies_with_cap[companies_with_cap['Symbol'].isin(common_values)]
filtered_edgar = edgar[edgar['Symbol'].isin(common_values)]

In [102]:
common_values

{'A',
 'AAPL',
 'ABEV',
 'ABT',
 'ACGL',
 'ACN',
 'ADBE',
 'ADI',
 'ADP',
 'ADSK',
 'AEP',
 'AFL',
 'AG',
 'AIG',
 'AIV',
 'ALC',
 'ALL',
 'AMAT',
 'AMD',
 'AME',
 'AMGN',
 'AMT',
 'AMWD',
 'AMX',
 'AMZN',
 'AON',
 'APH',
 'ASML',
 'AXP',
 'AZN',
 'AZO',
 'BA',
 'BAC',
 'BANR',
 'BB',
 'BBVA',
 'BCE',
 'BDX',
 'BHE',
 'BIIB',
 'BKNG',
 'BLK',
 'BMO',
 'BMY',
 'BNS',
 'BP',
 'BSX',
 'BUD',
 'BUSE',
 'C',
 'CAL',
 'CAT',
 'CBRL',
 'CCI',
 'CDNS',
 'CGAU',
 'CHTR',
 'CI',
 'CL',
 'CM',
 'CMCO',
 'CMCSA',
 'CME',
 'CMI',
 'CNC',
 'CNI',
 'COF',
 'COP',
 'COST',
 'CP',
 'CPRT',
 'CPRX',
 'CQP',
 'CRM',
 'CSCO',
 'CSGP',
 'CSGS',
 'CSX',
 'CTAS',
 'CTS',
 'CTSH',
 'CVS',
 'CVX',
 'CXW',
 'D',
 'DBD',
 'DE',
 'DELL',
 'DEO',
 'DG',
 'DHI',
 'DHR',
 'DIS',
 'DLR',
 'DLTR',
 'DNN',
 'DVAX',
 'E',
 'EA',
 'ECL',
 'EFX',
 'EL',
 'EMR',
 'ENB',
 'EOG',
 'EPD',
 'EQIX',
 'EW',
 'EXC',
 'EXR',
 'EXTR',
 'F',
 'FAST',
 'FBNC',
 'FCF',
 'FCX',
 'FDX',
 'FERG',
 'FI',
 'FICO',
 'FIS',
 'FNLC',
 'FWRG',
 'GD',
 'GERN',
 'GES',
 'GIII',
 'GILD',
 'GIS',
 'GOOG',
 'GPN',
 'GPRE',
 'GS',
 'GSK',
 'GTY',
 'HAL',
 'HCA',
 'HD',
 'HDB',
 'HES',
 'HLX',
 'HMC',
 'HON',
 'HSY',
 'HTLF',
 'HUM',
 'HWKN',
 'IBM',
 'IBN',
 'IDXX',
 'IMKTA',
 'IMO',
 'INFY',
 'ING',
 'INTC',
 'INTU',
 'IR',
 'ISRG',
 'IT',
 'ITW',
 'JACK',
 'JNJ',
 'JPM',
 'KFRC',
 'KLAC',
 'KMB',
 'KO',
 'KR',
 'LEN',
 'LGND',
 'LKFN',
 'LLY',
 'LMT',
 'LNG',
 'LNN',
 'LOW',
 'LRCX',
 'LTC',
 'LVS',
 'LYG',
 'LZB',
 'MAR',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'MFA',
 'MFC',
 'MFG',
 'MGNX',
 'MLM',
 'MMC',
 'MMM',
 'MO',
 'MPWR',
 'MRK',
 'MRTN',
 'MRVL',
 'MS',
 'MSFT',
 'MU',
 'NBTB',
 'NDAQ',
 'NEE',
 'NEM',
 'NFLX',
 'NGG',
 'NKE',
 'NOC',
 'NSSC',
 'NTCT',
 'NTES',
 'NUE',
 'NVDA',
 'NVO',
 'NWN',
 'NX',
 'O',
 'ODFL',
 'OKE',
 'OMCL',
 'ON',
 'ORAN',
 'ORCL',
 'ORLY',
 'OXM',
 'PAYX',
 'PBR',
 'PDFS',
 'PEP',
 'PERI',
 'PFE',
 'PG',
 'PGR',
 'PH',
 'PLD',
 'PNC',
 'PPG',
 'PRAA',
 'PRU',
 'PSA',
 'PWR',
 'PXD',
 'PYPL',
 'QCOM',
 'REGN',
 'RELX',
 'RIO',
 'ROK',
 'ROP',
 'ROST',
 'RPT',
 'RSG',
 'RTX',
 'RY',
 'RYAAY',
 'SAN',
 'SAP',
 'SBUX',
 'SCCO',
 'SCHW',
 'SHW',
 'SLB',
 'SLF',
 'SMFG',
 'SMTC',
 'SNPS',
 'SNY',
 'SO',
 'SONY',
 'SPG',
 'SPGI',
 'SPH',
 'SPNS',
 'SRE',
 'STM',
 'STZ',
 'SU',
 'SYBT',
 'SYK',
 'SYY',
 'T',
 'TARO',
 'TD',
 'TDS',
 'TFC',
 'TGI',
 'TGT',
 'THRM',
 'TJX',
 'TM',
 'TMO',
 'TMUS',
 'TRMK',
 'TRP',
 'TRV',
 'TSM',
 'TT',
 'TTMI',
 'TXN',
 'UFPT',
 'UL',
 'UNH',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'VALE',
 'VEON',
 'VLO',
 'VMC',
 'VRTS',
 'VRTX',
 'VZ',
 'WABC',
 'WCN',
 'WDS',
 'WFC',
 'WIT',
 'WM',
 'WMB',
 'WMT',
 'XEL',
 'XOM',
 'YUM'}

In [96]:
filtered_weekly_market.shape

(325376, 8)

In [ ]:
filtered_svi.shape

In [99]:
# Extract the year from 'week_index'
filtered_weekly_market['year'] = filtered_weekly_market['week_index'].str.split('-').str[0].astype(int)

# Group by 'year' and calculate the count for each group
weeks_per_year_df2 = filtered_weekly_market.groupby('year').size()

# Print the counts
print("Weeks per year in df2:")
print(weeks_per_year_df2)

Weeks per year in df2:
year
2005    14779
2006    15000
2007    15585
2008    15592
2009    15537
2010    15546
2011    15748
2012    16192
2013    16343
2014    16435
2015    16556
2016    16367
2017    16432
2018    16852
2019    16953
2020    17099
2021    16919
2022    16985
2023    17027
dtype: int64

C:\Users\Варвара\AppData\Local\Temp\ipykernel_8116\1404412366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_weekly_market['year'] = filtered_weekly_market['week_index'].str.split('-').str[0].astype(int)

In [100]:
filtered_svi['date'] = pd.to_datetime(filtered_svi['date'])

# Extract the year from the date
filtered_svi['year'] = filtered_svi['date'].dt.year

# Group by 'year' and calculate the count for each group
weeks_per_year = filtered_svi.groupby('year').size()

# Print the counts
print("Weeks per year:")
print(weeks_per_year)

Weeks per year:
year
2005    17056
2006    17384
2007    17056
2008    17056
2009    17056
2010    17056
2011    17056
2012    17384
2013    17056
2014    17056
2015    17056
2016    17056
2017    17384
2018    17056
2019    17056
2020    17056
2021    17056
2022    17056
2023    17384
dtype: int64

C:\Users\Варвара\AppData\Local\Temp\ipykernel_8116\1774035501.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_svi['date'] = pd.to_datetime(filtered_svi['date'])
C:\Users\Варвара\AppData\Local\Temp\ipykernel_8116\1774035501.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_svi['year'] = filtered_svi['date'].dt.year

In [98]:
filtered_svi['date'] = pd.to_datetime(filtered_svi['date'])
filtered_svi['week_number'] = filtered_svi['date'].dt.isocalendar().week
filtered_svi.head(55)

C:\Users\Варвара\AppData\Local\Temp\ipykernel_8116\676306728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_svi['date'] = pd.to_datetime(filtered_svi['date'])
C:\Users\Варвара\AppData\Local\Temp\ipykernel_8116\676306728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_svi['week_number'] = filtered_svi['date'].dt.isocalendar().week

,Unnamed: 0.1,Unnamed: 0,symbol,date,svi,date_category,monthly_score,agregated_score,week_number
0,0,0,MSFT,2005-01-02,18,1,1741,31338,53
1,1,1,MSFT,2005-01-09,19,1,1741,33079,1
2,2,2,MSFT,2005-01-16,12,1,1741,20892,2
3,3,3,MSFT,2005-01-23,20,1,1741,34820,3
4,4,4,MSFT,2005-01-30,15,1,1741,26115,4
5,5,5,MSFT,2005-02-06,16,1,1741,27856,5
6,6,6,MSFT,2005-02-13,20,1,1741,34820,6
7,7,7,MSFT,2005-02-20,16,1,1741,27856,7
8,8,8,MSFT,2005-02-27,17,1,1741,29597,8
9,9,9,MSFT,2005-03-06,15,1,1741,26115,9
10,10,10,MSFT,2005-03-13,15,1,1741,26115,10
11,11,11,MSFT,2005-03-20,12,1,1741,20892,11
12,12,12,MSFT,2005-03-27,21,1,1741,36561,12
13,13,13,MSFT,2005-04-03,63,1,1741,109683,13
14,14,14,MSFT,2005-04-10,29,1,1741,50489,14
15,15,15,MSFT,2005-04-17,29,1,1741,50489,15
16,16,16,MSFT,2005-04-24,33,1,1741,57453,16
17,17,17,MSFT,2005-05-01,25,1,1741,43525,17
18,18,18,MSFT,2005-05-08,34,1,1741,59194,18
19,19,19,MSFT,2005-05-15,35,1,1741,60935,19
20,20,20,MSFT,2005-05-22,35,1,1741,60935,20
21,21,21,MSFT,2005-05-29,31,1,1741,53971,21
22,22,22,MSFT,2005-06-05,26,1,1741,45266,22
23,23,23,MSFT,2005-06-12,29,1,1741,50489,23
24,24,24,MSFT,2005-06-19,30,1,1741,52230,24
25,25,25,MSFT,2005-06-26,40,1,1741,69640,25
26,26,26,MSFT,2005-07-03,35,1,1741,60935,26
27,27,27,MSFT,2005-07-10,46,1,1741,80086,27
28,28,28,MSFT,2005-07-17,53,1,1741,92273,28
29,29,29,MSFT,2005-07-24,49,1,1741,85309,29
30,30,30,MSFT,2005-07-31,55,1,1741,95755,30
31,31,31,MSFT,2005-08-07,45,1,1741,78345,31
32,32,32,MSFT,2005-08-14,46,1,1741,80086,32
33,33,33,MSFT,2005-08-21,34,1,1741,59194,33
34,34,34,MSFT,2005-08-28,44,1,1741,76604,34
35,35,35,MSFT,2005-09-04,35,1,1741,60935,35
36,36,36,MSFT,2005-09-11,41,1,1741,71381,36
37,37,37,MSFT,2005-09-18,43,1,1741,74863,37
38,38,38,MSFT,2005-09-25,38,1,1741,66158,38
39,39,39,MSFT,2005-10-02,41,1,1741,71381,39
40,40,40,MSFT,2005-10-09,43,1,1741,74863,40
41,41,41,MSFT,2005-10-16,41,1,1741,71381,41
42,42,42,MSFT,2005-10-23,63,1,1741,109683,42
43,43,43,MSFT,2005-10-30,67,1,1741,116647,43
44,44,44,MSFT,2005-11-06,64,1,1741,111424,44
45,45,45,MSFT,2005-11-13,69,1,1741,120129,45
46,46,46,MSFT,2005-11-20,77,1,1741,134057,46
47,47,47,MSFT,2005-11-27,65,1,1741,113165,47
48,48,48,MSFT,2005-12-04,49,1,1741,85309,48
49,49,49,MSFT,2005-12-11,52,1,1741,90532,49
50,50,50,MSFT,2005-12-18,48,1,1741,83568,50
51,51,51,MSFT,2005-12-25,40,1,1741,69640,51
52,52,52,MSFT,2006-01-01,63,1,1741,109683,52
53,53,53,MSFT,2006-01-08,52,1,1741,90532,1
54,54,54,MSFT,2006-01-15,45,1,1741,78345,2

In [88]:
ff = filtered_weekly_market[filtered_weekly_market['TICKER'] == 'MSFT']
ff.head(53)

,TICKER,COMNAM,week_index,week_cls_prc,week_vol,weekly_return,year
998,MSFT,MICROSOFT CORP,2005-01,26.67,398924026.0,NaN,2005
999,MSFT,MICROSOFT CORP,2005-02,26.12,379712121.0,-0.020622,2005
1000,MSFT,MICROSOFT CORP,2005-03,25.65,266617523.0,-0.017994,2005
1001,MSFT,MICROSOFT CORP,2005-04,26.18,409844550.0,0.020663,2005
1002,MSFT,MICROSOFT CORP,2005-05,26.32,347830186.0,0.005348,2005
1003,MSFT,MICROSOFT CORP,2005-06,25.97,360145305.0,-0.013298,2005
1004,MSFT,MICROSOFT CORP,2005-07,25.48,348529709.0,-0.018868,2005
1005,MSFT,MICROSOFT CORP,2005-08,25.25,329158361.0,-0.009027,2005
1006,MSFT,MICROSOFT CORP,2005-09,25.17,322997251.0,-0.003168,2005
1007,MSFT,MICROSOFT CORP,2005-10,25.09,318787290.0,-0.003178,2005
1008,MSFT,MICROSOFT CORP,2005-11,24.31,438396126.0,-0.031088,2005
1009,MSFT,MICROSOFT CORP,2005-12,24.28,336441989.0,-0.001234,2005
1010,MSFT,MICROSOFT CORP,2005-13,24.12,326065564.0,-0.006590,2005
1011,MSFT,MICROSOFT CORP,2005-14,24.94,341363855.0,0.033997,2005
1012,MSFT,MICROSOFT CORP,2005-15,24.46,347592753.0,-0.019246,2005
1013,MSFT,MICROSOFT CORP,2005-16,24.98,412783738.0,0.021259,2005
1014,MSFT,MICROSOFT CORP,2005-17,25.30,371940630.0,0.012810,2005
1015,MSFT,MICROSOFT CORP,2005-18,25.22,338030891.0,-0.003162,2005
1016,MSFT,MICROSOFT CORP,2005-19,25.30,341452032.0,0.003172,2005
1017,MSFT,MICROSOFT CORP,2005-20,25.74,281843321.0,0.017391,2005
1018,MSFT,MICROSOFT CORP,2005-21,26.07,280341973.0,0.012821,2005
1019,MSFT,MICROSOFT CORP,2005-22,25.43,209982708.0,-0.024549,2005
1020,MSFT,MICROSOFT CORP,2005-23,25.43,241817752.0,0.000000,2005
1021,MSFT,MICROSOFT CORP,2005-24,25.04,315967315.0,-0.015336,2005
1022,MSFT,MICROSOFT CORP,2005-25,25.04,373962289.0,0.000000,2005
1023,MSFT,MICROSOFT CORP,2005-26,24.71,327025928.0,-0.013179,2005
1024,MSFT,MICROSOFT CORP,2005-27,25.09,265869853.0,0.015378,2005
1025,MSFT,MICROSOFT CORP,2005-28,25.79,298118472.0,0.027900,2005
1026,MSFT,MICROSOFT CORP,2005-29,25.68,443004306.0,-0.004265,2005
1027,MSFT,MICROSOFT CORP,2005-30,25.61,263782741.0,-0.002726,2005
1028,MSFT,MICROSOFT CORP,2005-31,27.76,514677976.0,0.083952,2005
1029,MSFT,MICROSOFT CORP,2005-32,27.05,332889399.0,-0.025576,2005
1030,MSFT,MICROSOFT CORP,2005-33,26.72,230682765.0,-0.012200,2005
1031,MSFT,MICROSOFT CORP,2005-34,26.97,234766866.0,0.009356,2005
1032,MSFT,MICROSOFT CORP,2005-35,27.02,301992135.0,0.001854,2005
1033,MSFT,MICROSOFT CORP,2005-36,26.58,187840845.0,-0.016284,2005
1034,MSFT,MICROSOFT CORP,2005-37,26.07,416354824.0,-0.019187,2005
1035,MSFT,MICROSOFT CORP,2005-38,25.27,331283410.0,-0.030687,2005
1036,MSFT,MICROSOFT CORP,2005-39,25.73,302606207.0,0.018203,2005
1037,MSFT,MICROSOFT CORP,2005-40,24.59,416075910.0,-0.044306,2005
1038,MSFT,MICROSOFT CORP,2005-41,24.67,321881366.0,0.003253,2005
1039,MSFT,MICROSOFT CORP,2005-42,24.78,312299472.0,0.004459,2005
1040,MSFT,MICROSOFT CORP,2005-43,25.53,324215008.0,0.030266,2005
1041,MSFT,MICROSOFT CORP,2005-44,26.66,362185164.0,0.044262,2005
1042,MSFT,MICROSOFT CORP,2005-45,27.28,332289336.0,0.023256,2005
1043,MSFT,MICROSOFT CORP,2005-46,28.07,387109992.0,0.028959,2005
1044,MSFT,MICROSOFT CORP,2005-47,27.76,286038860.0,-0.011044,2005
1045,MSFT,MICROSOFT CORP,2005-48,28.01,279846527.0,0.009006,2005
1046,MSFT,MICROSOFT CORP,2005-49,27.71,282737612.0,-0.010710,2005
1047,MSFT,MICROSOFT CORP,2005-50,26.90,408490678.0,-0.029231,2005
1048,MSFT,MICROSOFT CORP,2005-51,26.64,330443379.0,-0.009665,2005
1049,MSFT,MICROSOFT CORP,2005-52,26.15,159577251.0,-0.018393,2005
1050,MSFT,MICROSOFT CORP,2006-01,26.91,287796922.0,0.029063,2006

In [ ]:
#test function 
def grangertest(X, Y, lag_num, verbose=True):
    """
    Perform the Granger Causality Test on two time series.

    Parameters:
    - X: pandas Series or DataFrame
    - Y: pandas Series or DataFrame
    - lag_num: int, the number of lags to consider in the test
    - verbose: bool, whether to print the test results (default is True)

    Returns:
    - None
    """
    # Check if input data is a DataFrame, if not, convert to DataFrame
    if not isinstance(X, pd.DataFrame):
        X = pd.DataFrame(X, columns=['X'])
    if not isinstance(Y, pd.DataFrame):
        Y = pd.DataFrame(Y, columns=['Y'])

    # Concatenate X and Y for the Granger Causality Test
    data = pd.concat([X, Y], axis=1)

    # Perform Granger Causality Test
    test_result = grangercausalitytests(data, lag_num, verbose=verbose)

    # Extract the p-values from the test results
    p_values = [test_result[i+1][0]['ssr_ftest'][1] for i in range(lag_num)]

    # Print the test statistics and conclusion
    if verbose:
        print(f"Granger Causality Test Results:")
        for i in range(1, lag_num + 1):
            print(f"\nLag {i} - p-value: {p_values[i-1]}")
            if p_values[i-1] < 0.05:
                print(f"Conclusion: There is Granger causality at lag {i}")
            else:
                print(f"Conclusion: There is no Granger causality at lag {i}")