In [2]:
import pandas as pd

In [8]:
returns = pd.read_csv('../data/companies_after_2005.csv', encoding='latin1')
returns.tail(5)

,Unnamed: 0,Rank,Name,Symbol,marketcap,price (USD),country,IPO_year,capitalization
521,865,4959,Geron,GERN,1091558656,2.01,United States,1996,low
522,866,4960,Perion Network,PERI,1091316480,23.20,Israel,1999,low
523,870,4967,Benchmark Electronics,BHE,1082945664,30.35,United States,1980,low
524,871,4969,Rajesh Exports,RAJESHEXPO.NS,1081169735,3.66,India,1995,low
525,875,4977,MacroGenics,MGNX,1071868096,17.28,United States,2001,low